<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>BDD Classic Models</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    
    <div class="container">
        {{{body}}}
    </div>

    {{!-- Fichier jquery d'abord car appel ala librairie d'abord avant le index --}}
    <script src="js/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="js/index.js"></script>
</body>

</html>