<form action="" method="get">
    <input type="text" name = "search" value="{{searchKey}}">
    <button type="submit">Rechercher</button>
</form>

<h1>Base de Données ClassicModels</h1>

<table>
    <thead>
        <tr>
            <td>Code</td>
            <td>Nom</td>
            <td>Prix</td>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            <td>{{this.productCode}}</td>
            <td>{{this.productName}}</td>
            <td>{{this.buyPrice}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
